@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

@media (max-width: 400px) {
    body {
        font-family: 'Oswald', sans-serif;
        background-color: #1E1014;
        color: whitesmoke;
    }
    
    h1 {
        text-align: center;
    }

    #tableOfContent {
        background-color: #f1f1f1;
        color: #1E1014;
        width: 250px;
        height: 200px;
        opacity: 80%;
        padding: 1rem;
        margin: auto;
        margin-top: 50px;
        border: solid 3px #FFC145;

        #tocRubrik {
            text-align: center;
            font-size: 24px;
            margin: auto;
        }

        .navLink {
            width: 250px;
            font-size: larger;
            display: flex;
            flex-direction: column;
            margin-block: 20px;
        }
    }

    .art1 {
        font-size: x-large;
        margin-top: 75px;
        margin-bottom: 90px;
    }

    .art2 {
        font-size: x-large;
        margin-top: 75px;
        margin-bottom: 90px;
    }

    .art3 {
        font-size: x-large;
        margin-top: 75px;
        margin-bottom: 90px;
        margin-right: 20px;
    }

    footer {
        font-family: 'Smooch', cursive;
        font-size: x-large;
    }
}